* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.trello-header {
    padding: 5px !important;
    background-color: rgb(148, 144, 144);
}

.header-part-1 {
    width: 55%;
}

li {
    display: inline;
}

.more-apps-icon, .home-icon, .board-icon, .add-icon, .info-icon {
    padding: 0.25em 0.5em !important;
    background-color: grey;
}

ul {
    margin-bottom: 0;
}

.more-apps-icon img {
    width: 1em;
}

.home-icon img {
    width: 1em;
}

.board-icon img {
    width: 1.25em;
}

.board-icon span {
    padding: 0 0 0 0.5em;
    font-weight: 800;
}

.search-box {
    width: 30%;
    display: inline-block;
}

.search-box input {
    background-color: grey;
    height: 2em;
}

.search-icon {
    height: 2em;
    padding: 0 0.5em;
    background-color: grey;
}

.search-icon img {
    width: 1.25em;
}

.trello-logo img{ 
    float: right;
    width: 6em;
}

.add-icon img, .info-icon img {
    width: 1.25em;
}

.user-name {
    background-color: white;
    color: black;
    padding: 0.20em 0.5em;
    border-radius: 50px;
}

#board-name {
    font-weight: 800;
    font-size: 1.25em;
    height: 1em;
    margin-right: 10px;
}

.board-star {
    background-color: gray;
    padding: 0.15em 0;
}

.board-star img {
    width: 70%;
}

.borders {
    opacity: 0.4;
}

.personal, .private, .butler, .menu {
    font-size: 18px;
    background-color: gray;
    padding: 0.15em 0.5em;
}

.private img {
    width: 0.75em;
}

.list {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    width: 20%;
    color: black;
    background-color: lightgrey;
}

.list-name {
    font-weight: 700;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    width: 100%;
    background-color: white;   
    border-radius: 5px;
    margin-top: 0.5em;
}

.delete-button {
    padding: 0;
    width: 10%;
}

.add-card {
    padding: 0;
    color: grey;
    width: 100%;
    margin-top: 1em;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.add-card-container {
    display: none;
    margin-top: 1em;
}

.add-card-container input {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
}